    margin-bottom: 1em;
}

nav{
    width: 20%;
    position: absolute;
    height: 600px;
    left: 0;
    top: 0;
    background-color: indigo;
    padding: 1em;
}

main > article > header{
    background-color:rgba(128, 26, 139);

}
main{
    margin-left: 20%;
    margin-bottom: 110px;
}

footer{
    background-color:rgba(226, 43, 205);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}